.searchbar {
    padding: 11px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
.searchbox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.icon {
    display: inline-block;
    color: rgb(63, 63, 63);
    background-color: white;
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translate(0,4px);
}
.button {
    padding: 11px 10px;
    border-radius: 5px;
    border: 0;
    background: white;
    color: rgb(63, 63, 63);
    transform: translate(0, 4px);
    transition: 0.3s;
}
.button:hover {
    cursor: pointer;
    background: rgb(194, 193, 193);
}